*{
    padding: 1;
    margin: 1;
}

.text{
    color: #000;
    background-color: #fff;
    padding-top: 1px;
}

.collections{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    background-color: #fff;
    text-align: center;
    background-position: cover;
    padding-bottom: 25px;
    margin-bottom: 15px;
}